/.bundle/
/.yardoc
/_yardoc/
/.yardocck
/coverage/
/doc/
/measurements/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/Gemfile.lock

# Local dotenv files
.env.development.local
.env.test.local
.env.production.local
.env.local

# A local copy of nostr nips to help Github Copilot suggestions
/nips/
